html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.body_registro {
    margin-bottom: 60px;
    background-color: #22327b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.body_registro h1{
    color:#FFFFFF;
}

p {
    color: purple;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container_registro {
    width: 100%;
    max-width: 800px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 8px;
    background-color: #FFFFFF;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
}

.field {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }

label {
    margin-right: 10px;
    font-weight: bold;
}

.body_login {
    background-color: #22327b;
}

.logo_login {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
}

    .logo_login img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

.container_login {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 8px;
    background-color: #FFFFFF;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
}

    .container_login p {
        color: #828282;
        font-size: 20px;
    }

    .container_login h1{
        color:#828282;
    }

.text-center-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-message {
    color: red;
    opacity: 0; 
    animation: slideFadeIn 0.5s forwards; 
}

/*Estilos Main Menu*/

.body-menu {
    background-color: #22327b;
    font-family: 'Heebo', sans-serif;
    color: #FFFFFF;
}

.game-container {
    width: 80%;
    height: 60%;
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-top: 40px;
    border: solid;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

    .buttons-container button {
        flex: 1;
        margin: 0 10px;
        padding: 10px;
        border: medium;
        cursor: pointer;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .buttons-container button:hover {
            background-color: #0056b3;
        }


.link-login {
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
    font-size: 16px; 
    font-weight: normal; 
}

   
    .link-login:hover {
        color: #FF0000; 
    }



.logout-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #FFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration:none;
}

    .logout-button:hover {
        background-color: #555; 
    }

.logout-icon {
    margin-right: 5px; 
}

a.logout-button {
    text-decoration: none;
}