@page
@model IndexModel
@{

}

<body class="body_login">
    <div class="text-center-login">
        <div class="logo_login">
            <img src="images/logo.png" alt="Logo" width="150">
        </div>
        <div class="container_login">
            <h1>Crossy Tec</h1>
            <p>Diviertete jugando a la vez que ganas recompensas!</p>

            <form method="post">
                <div class="container_datos">
                    <div class="field">
                        <input type="email" asp-for="Email" placeholder="Correo electrónico" required>
                    </div>
                    <div class="field">
                        <input type="password" asp-for="Password" placeholder="Contraseña" required>
                    </div>
                    <div class="field">
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </div>
            </form>

            <div class="container_signup">
                <a href="PaginaRegistro">
                    <button type="button">Crear cuenta nueva</button>
                </a>
            </div>

        </div>
    </div>
</body>
