@page
@model FrontCrossyTec.Pages.PaginaScoreboardModel
@{
    ViewData["Title"] = "Leaderboard de Jugadores";
}


<body class="body_score">
    <div class="container mt-5">
        <h2>Leaderboard de Jugadores</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Gamertag</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.LeaderboardData)
                {
                    <tr>
                        <td>@player.Name</td>
                        <td>@player.TotalScore</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
