@page
@model FrontCrossyTec.Pages.PaginaTiendaModel
@{

}

<body class="body_tienda">
    <div class="pagina-tienda">
        <h1 class="text-center">Bienvenidos a Nuestra Tienda de Cajas</h1>

        <div class="container mt-5">
            <div class="row">
                @foreach (var caja in Model.cajas)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <!-- las imagenes se leen con un for -->
                            <img src="/images/caja/caja@(caja.ChestId).png" class="card-img-top" alt="Imagen de la caja">
                            <div class="card-body">
                                <h5 class="card-title">@caja.ChestName</h5>
                                <!-- Replace this part with a button -->
                                <button type="button" class="btn-comprar">
                                    Comprar @($"${caja.Price}")
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

