@page
@model FrontCrossyTec.Pages.PaginaRegistroModel
@{
    ViewData["Title"] = "Registro";
}

<body class="body_registro">
    <div class="text-center">
        <div class="logo_login">
            <img src="images/logo.png" alt="Logo" width="150">
        </div>
        <h1>Crossy Tec</h1>
        <div class="container_registro">
            <div class="logo">
                <img src="@Url.Content("~/images/Sorteos.png")" alt="Logo" width="150">
            </div>

            <form method="post">
                <div class="field">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="field">
                    <input type="text" name="apellido" placeholder="Apellido" required>
                </div>
                <div class="field">
                    <input type="email" name="email" placeholder="Correo electrónico" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Contraseña nueva" required>
                </div>
                <div class="field">
                    <label>Fecha de nacimiento:</label>
                    <input type="date" name="birthdate" required>
                </div>
                <div class="field">
                    <label>Sexo:</label>
                    <input type="radio" name="gender" value="mujer" required>Mujer
                    <input type="radio" name="gender" value="hombre" required>Hombre
                    <input type="radio" name="gender" value="Otro" required>Personalizado
                </div>
                <div class="field">
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado">
                        <option value="" selected>Selecciona un estado</option>
                        <option value="Aguascalientes">Aguascalientes</option>
                        <option value="Baja California">Baja California</option>
                        <option value="Baja California Sur">Baja California Sur</option>
                        <option value="Campeche">Campeche</option>
                        <option value="Chiapas">Chiapas</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="Coahuila">Coahuila</option>
                        <option value="Colima">Colima</option>
                        <option value="Durango">Durango</option>
                        <option value="Estado de México">Estado de México</option>
                        <option value="Guanajuato">Guanajuato</option>
                        <option value="Guerrero">Guerrero</option>
                        <option value="Hidalgo">Hidalgo</option>
                        <option value="Jalisco">Jalisco</option>
                        <option value="Michoacán">Michoacán</option>
                        <option value="Morelos">Morelos</option>
                        <option value="Nayarit">Nayarit</option>
                        <option value="Nuevo León">Nuevo León</option>
                        <option value="Oaxaca">Oaxaca</option>
                        <option value="Puebla">Puebla</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="Quintana Roo">Quintana Roo</option>
                        <option value="San Luis Potosí">San Luis Potosí</option>
                        <option value="Sinaloa">Sinaloa</option>
                        <option value="Sonora">Sonora</option>
                        <option value="Tabasco">Tabasco</option>
                        <option value="Tamaulipas">Tamaulipas</option>
                        <option value="Tlaxcala">Tlaxcala</option>
                        <option value="Veracruz">Veracruz</option>
                        <option value="Yucatán">Yucatán</option>
                        <option value="Zacatecas">Zacatecas</option>
                    </select>
                </div>
                <div class="field">
                    <button type="submit">Registrarte</button>
                </div>
            </form>

            <a href="Index" class="link-login">
                Ya tengo una cuenta, hacer login
            </a>
        </div>
    </div>
</body>
