@page
@model FrontCrossyTec.Pages.PaginaMenuModel
@{
}

<body class="body-menu">
    <div class="text-center">
        <h1 class="display-4">Crossy Tec</h1>
        <div class="game-container">
        </div>
        <div class="buttons-container">
            <button>Tienda</button>
            <button>Leaderboards</button>
            <button>Ajustes</button>
        </div>
    </div>
</body>
