@page
@model FrontCrossyTec.Pages.PaginaPerfilModel

@{
    ViewData["Title"] = "Perfil del Usuario";
}

<div class="perfil-container">
    <div class="perfil-header">
        <h1>Perfil del Usuario</h1>
    </div>
    <div class="perfil-info">
        <p><strong>Nombre de Usuario:</strong> @Model.UserData.Name</p>
        <p><strong>Correo:</strong> @Model.UserData.Email</p>
        <p><strong>Estado:</strong> @Model.UserData.State</p>
        <p><strong>Edad:</strong> @Model.UserAge años</p>
    </div>
</div>
