@page
@model FrontCrossyTec.Pages.PaginaScoreboardModel
@{
    ViewData["Title"] = "Leaderboard de Jugadores";
}

<body>
    <div class="container mt-5">
        <h2>Leaderboard de Jugadores</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player1</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Player2</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>Player3</td>
                    <td>1100</td>
                </tr>
                <!-- Más jugadores... -->
            </tbody>
        </table>
    </div>
    </body>
